/* @font-face {
  font-family: 'PlaketteBold';
  src: local('PlaketteBold'),
  url("./fonts/Plakette-Serial-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'PlaketteHeavy';
  src: local('PlaketteHeavy'),
    url("./fonts/Plakette-Serial-Heavy-Regular.ttf") format("truetype");
} */